.css-truncate.css-truncate-target {
    white-space: normal !important;
    word-wrap: break-word !important;
}

.content .css-truncate.css-truncate-target {
    max-width: 400px !important;
}

.news .message {
    max-width: inherit !important;
}

@media (min-width: 1400px) {
    .container {
        width: 1280px !important;
    }

    .repository-with-sidebar .repository-content {
        width: 1220px !important;
    }

    .repository-with-sidebar.with-full-navigation .repository-content {
        width: 1090px !important;
    }

    .content .css-truncate.css-truncate-target {
        max-width: 500px !important;
    }

    .org-main {
        width: 940px !important;
    }
    
    .news {
        width: 920px !important;
    }

    .news .css-truncate.css-truncate-target {
        max-width: 870px !important;
    }

    .column-main {
        width: 1020px !important;
    }
    
    .settings-content {
        width: 1020px !important;
    }
    
    .discussion-timeline-cols .main {
        width: 920px !important;
    }

    .pull-request-composer .discussion-topic {
        width: 1032px !important;
    }

    .discussion-timeline {
        width: 1060px !important;
    }
}

@media (min-width: 1600px) {
    .container {
        width: 1480px !important;
    }

    .repository-with-sidebar .repository-content {
        width: 1420px  !important;
    }

    .repository-with-sidebar.with-full-navigation .repository-content {
        width: 1290px !important;
    }

    .content .css-truncate.css-truncate-target {
        max-width: 700px !important;
    }

    .org-main {
        width: 1140px !important;
    }
    
    .news {
        width: 1120px !important;
    }

    .news .css-truncate.css-truncate-target {
        max-width: 1070px !important;
    }

    .column-main {
        width: 1220px !important;
    }
    
    .settings-content {
        width: 1220px !important;
    }
    
    .discussion-timeline-cols .main {
        width: 1120px !important;
    }

    .pull-request-composer .discussion-topic {
        width: 1232px !important;
    }

    .discussion-timeline {
        width: 1260px !important;
    }
}

@media (min-width: 1800px) {
    .container {
        width: 1680px !important;
    }

    .repository-with-sidebar .repository-content {
        width: 1620px !important;
    }

    .repository-with-sidebar.with-full-navigation .repository-content {
        width: 1490px !important;
    }

    .content .css-truncate.css-truncate-target {
        max-width: 900px !important;
    }

    .org-main {
        width: 1340px !important;
    }
    
    .news {
        width: 1320px !important;
    }

    .news .css-truncate.css-truncate-target {
        max-width: 1270px !important;
    }

    .column-main {
        width: 1420px !important;
    }
    
    .settings-content {
        width: 1420px !important;
    }
    
    .discussion-timeline-cols .main {
        width: 1120px !important;
    }

    .pull-request-composer .discussion-topic {
        width: 1432px !important;
    }

    .discussion-timeline {
        width: 1460px !important;
    }

    .timeline-comment {
        width: 1356px !important;
    }

    .timeline-comment-wrapper .timeline-comment {
        width: 1395px !important;
    }
}
